body {
	margin:0;
	padding:0;
	font-family: "Microsoft YaHei";
	font-size:15px;
}
.tips {
	padding:10px 50px;
	color:#409EFF;
	box-shadow: 0 0 10px #999;;
	border-radius: 5px;
	position: fixed;
	right:0;
	top:10px;
	background:#fff;
}
ul,li {
	list-style: none;
	margin:0;
	padding:0;
}
.container {
	/* display:flex; */
}
.content {
	margin-left:250px;
	border-left:1px solid #eee;
	margin-top:20px;
	padding:0 20px;
	color:#606266;	
}
.menu {
	position: fixed;
	top:0;
	left:0;
}
.menu li {
	width:250px;
	transition:0.5s;
	padding:10px 20px;
	box-sizing: border-box;
	cursor: pointer;
}	
.menu li:hover {
	background:rgb(236,245,255);
	transition:0.5s;
}
.menu li.active  {
	color:#409EFF;
}
.menu a {
	color:#000;
	display:block;
	padding:10px 20px;
	text-decoration: none;
}
.menu a:active {
	color:#409EFF;
}
section {
	margin-bottom:20px;
}
h2 {
	color:#000;
}
.title {
	color:#333;
	font-weight: bold;
	padding:10px 0;
}
img {
	display:block;
	margin-top:10px;
}
.mt {
	margin-top:10px;
}
.red {
	color:#F56C6C;
}
.inblock {
	display:inline-block;
}
.btn {
	padding:10px 20px;
	color:#fff;
	display:inline-block;
	background:#409EFF;
	border-radius: 5px;
	cursor: pointer;
	transition:.5s;
}
.btn.pointer:hover {
	opacity: 0.6;
	transition:0.5;
}
.btn.pointer {
	cursor: pointer;
}
.btn.help {
	cursor: help;
}
.btn.wait {
	cursor: wait;
}
.btn.ts1 {
	transition:1s;
	background:#67C23A;
}
.btn.ts1:hover {
	transition:1s;
	background:#F56C6C;
}
.btn.ts2 {
	transition:2s;
	background:#67C23A;
}
.btn.ts2:hover {
	transition:2s;
	background:#F56C6C;
}
.size-ts {
	width:100px;
	height:100px;
	background:#409EFF;
	transition:.5s;
	color:#fff;
	padding:10px;
	
}
.size-ts:hover {
	width:400px;
	height:150px;
	transition:.5s;
}
.size-ts.size-ts-delay:hover {
	transition-delay: 1s;
}
.transform {
	padding:50px;
	background:#F56C6C;
	transition:1s;
	color:#fff;
	display:inline-block;
}
.rotatex:hover {
	transform: rotateX(180deg)
}
.rotatey:hover {
	transform: rotateY(180deg)
}
.scale:hover {
	transform: scale(1.5);
}
.skew:hover {
	transform: skew(30deg,45deg);
}
@keyframes myanimate
{
	from {background: #F56C6C;}
	to {background: #67C23A;transform: translateX(300px) rotateY(180deg) scale(.5);}
}
@-webkit-keyframes myanimate /* Safari 与 Chrome */
{
	from {background: #F56C6C;}
	to {background: #67C23A;transform: translateX(300px) rotateY(180deg) scale(.5);}
}
.animate {
	animation: myanimate 1s;
	-webkit-animation: myanimate 1s; /* Safari 与 Chrome */
	animation-fill-mode:forwards;
	-webkit-animation-fill-mode:forwards; /* Safari 和 Chrome */
}
.animate-start {
	background:#F56C6C;
	width:100px;
	height:100px;
}
.animate-text {
	font-size:20px;
	padding:10px 0;
}
.test {
	text-decoration: none;
	padding:10px 40px;
	margin:20px 0;
}