<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet/less" type="text/css" href="./css/index.less"> 
		<script src="./js/vue.min.js"></script>
		<script src="./js/less.min.js"></script>
	</head>
	<body>
		<div class="container" id="app">
			<div class="bg">
				<img src="./image/bg.png" alt="">
			</div>
			<div class="left">
				<div class="top">
					<span class="label">抽签结果</span>
					<div class="btn">确认</div>
				</div>
				<div class="content">
					<div class="c-header">
						<span>序号</span>
						<span>公司名/姓名</span>
						<span>号码</span>
					</div>
					<ul class="list-wrap">
						<li class="item" v-for="(item,index) in a">
							<div class="sort">1</div>
							<div class="name-wrap">
								<span>高路信息</span>
								<span>张XX</span>
							</div>
							<div>
								<input type="text">
							</div>
							
						</li>
					</ul>
				</div>
			</div>
			<div class="right">
				<div class="top">
					<div class="img-wrap">中签结果</div>
					<div class="legend">
						<span class="label"></span>
						<span class="text">当前中签序号</span>
					</div>
				</div>
				<div class="content">
					<div class="c-header">
						<div class="item" v-for="(item,index) in b">
							<span>号码</span>
							<span>公司名/姓名</span>
						</div>
					</div>
					<ul class="list-wrap">
						<li class="" v-for="(item,index) in aa" >
							<div class="item" v-for="(item1,index1) in bb" :class="{'active':index < 3}">
								<div class="sort">111</div>
								<div class="name-wrap">
									<span>高路信息</span>
									<span>张张小小</span>
								</div>
							</div>
							
						</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
	<script>
		var vm = new Vue({
			el: '#app',
			data() {
				return {
					a:25,
					b:13,
					c:286,
					aa:13,
					bb:22
				}
			}
			
		})
	</script>
</html>
